# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Variables de entorno / credenciales
.env

# Archivos temporales de Office
~$*
*.tmp

# Copias locales de Power BI
*.pbix.bak

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
